.THIS .dealRegistrationButton {
    
   	color: #fff;
    font-size: 25px;
    font-weight: bold;
    
}

@media only screen and (max-width: 980px ) {
	.THIS .slds-modal__container {
    width: 100%;
    margin-left: 0px;
    background: rgb(83, 81, 81);
    }
    
   .THIS .dealRegistrationButton {
    
   	color: #fff;
    font-size:15px;
    font-weight: bold;
  
	}
}