.fieldsContainer > div {
	min-width: 13%;
	max-width: 25%;
	margin-right: 1rem;
}
.fieldsContainer > div:last-child {
	margin-right: 0;
}
.fieldsContainer div div:first-child {
	font-size: 0.75rem;
}
.fieldsContainer * {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.fieldsContainer a {
	text-decoration: none;
	border-bottom: 1px dotted;
}