<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>indra.varada@officedepot.com</emailSenderAddress>
    <emailSenderName>GPO Community</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>true</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <profile>admin</profile>
        <profile>system administrator 2</profile>
        <profile>customer community login user - gpo user</profile>
        <profile>customer community login user - gpo admin</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>GPO_Community1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>GPO_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>Customer_Price_Changes</customTab>
        <customTab>Resync_Account</customTab>
        <customTab>Access_MarketView_Admin</customTab>
        <customTab>Country_of_origin__c</customTab>
        <customTab>MarketView_Credentials</customTab>
        <customTab>ca_idea__IdeasSiteSetup__c</customTab>
        <customTab>Access_MarketView</customTab>
        <customTab>ca_idea__Idea_Vision</customTab>
        <customTab>LBI__Recommendation__c</customTab>
        <customTab>LBI__ScoringQueue__c</customTab>
        <customTab>ProspectReassignment</customTab>
        <customTab>LBI__RecommendationStage__c</customTab>
        <customTab>LBI__PrimaryAttribute__c</customTab>
        <customTab>LBI__PlayType__c</customTab>
        <customTab>LBI__Play__c</customTab>
        <customTab>LBI__PlayRun__c</customTab>
        <customTab>LBI__PlayStage__c</customTab>
        <customTab>LBI__ModelStage__c</customTab>
        <customTab>LBI__Model__c</customTab>
        <customTab>LBI__Lattice_Opportunities</customTab>
        <customTab>LBI__Lattice_Recommendations</customTab>
        <customTab>LBI__Lattice_Dashboard</customTab>
        <customTab>LBI__Lattice_Leads_Recommendations</customTab>
        <customTab>LBI__Lattice_Admin</customTab>
        <customTab>LBI__Lattice_Contacts_Recommendations</customTab>
        <customTab>LBI__LatticeSyncBatchRun__c</customTab>
        <customTab>LBI__Lattice_Accounts_Recommendations</customTab>
        <customTab>LBI__LatticeCacheStatus</customTab>
        <customTab>LBI__LatticeRecommendations</customTab>
        <customTab>LBI__ErrorLog__c</customTab>
        <customTab>LBI__LatticeApplicationRegion__c</customTab>
        <customTab>LBI__AccountExtension__c</customTab>
        <customTab>LBI__BatchLog__c</customTab>
        <customTab>LBI__AccountExtensionStage__c</customTab>
        <customTab>Tech_Sales_Internal_Approval_Rule_Header__c</customTab>
        <customTab>CLS4SF__ClearSlide_Setup</customTab>
        <customTab>Job__c</customTab>
        <customTab>Sales_Play__c</customTab>
        <customTab>EditQuotas__Edit_Quotas</customTab>
        <customTab>BizBox_Sales__c</customTab>
        <customTab>Account_Dormant__c</customTab>
        <customTab>Project__c</customTab>
        <customTab>agf__ADM_Unified_Wall</customTab>
        <customTab>agf__ADM_Work__c</customTab>
        <customTab>agf__ADM_Theme__c</customTab>
        <customTab>agf__ADM_Time_Off_Log__c</customTab>
        <customTab>agf__ADM_Sprint__c</customTab>
        <customTab>agf__ADM_Team_Release__c</customTab>
        <customTab>agf__ADM_Scrum_Team_Member__c</customTab>
        <customTab>agf__ADM_Scrum_Team__c</customTab>
        <customTab>agf__ADM_Product_Tag__c</customTab>
        <customTab>agf__ADM_Release__c</customTab>
        <customTab>agf__ADM_Priority_Mapping__c</customTab>
        <customTab>agf__ADM_Priority__c</customTab>
        <customTab>agf__ADM_Impact__c</customTab>
        <customTab>agf__ADM_Kanban_Board</customTab>
        <customTab>agf__ADM_Epic__c</customTab>
        <customTab>agf__ADM_Impact_Type__c</customTab>
        <customTab>agf__ADM_Assignment_Rule__c</customTab>
        <customTab>agf__ADM_Build__c</customTab>
        <customTab>OneSource__OneSource</customTab>
        <customTab>Referral__c</customTab>
        <customTab>Prospect_Bulk_Upload</customTab>
        <customTab>Vendor_Mapping__c</customTab>
        <customTab>WRF_Task__c</customTab>
        <customTab>Prospect_Reassignment</customTab>
        <customTab>CameleonCPQ__MappingSet__c</customTab>
        <customTab>CameleonCPQ__Cameleon_CPQ</customTab>
        <customTab>CameleonCPQ__QxSetup__c</customTab>
        <customTab>CameleonCPQ__QxQuote__c</customTab>
        <customTab>Field_Trip__Object_Analysis__c</customTab>
        <customTab>CameleonCPQ__Quote__c</customTab>
        <customTab>CameleonCPQ__MasterContract__c</customTab>
        <customTab>Optymyze</customTab>
        <customTab>MDR__Sync_MDR_Data</customTab>
        <customTab>MDR__Map_MDR_Personnel_Data</customTab>
        <customTab>Third_Party_Referrals__c</customTab>
        <customTab>Administration</customTab>
        <customTab>permissioner__The_Permissioner</customTab>
        <customTab>MDR__Map_MDR_Building_Data</customTab>
        <customTab>MDR__MDR_Setup</customTab>
        <customTab>QuickLink__c</customTab>
        <customTab>Insights_PROS</customTab>
        <customTab>Product_Manufacturer__c</customTab>
        <customTab>Medallia_Integration_Log__c</customTab>
        <customTab>Medallia_Feedback__c</customTab>
        <customTab>CRMfusionDBR101__AutoMerge_Setting__c</customTab>
        <customTab>GPO_Group__c</customTab>
        <customTab>OptymyzeOld</customTab>
        <customTab>Lead_Assignment_Setting__c</customTab>
        <customTab>salesprism__salesPRISM</customTab>
        <customTab>Fact_Sheet__c</customTab>
        <customTab>Assignment__c</customTab>
        <customTab>et4ae5__Configuration__c</customTab>
        <customTab>TAV4__Geo_Unit__c</customTab>
        <customTab>TAV4__Sales_Area__c</customTab>
        <customTab>TAV4__Sales_Rep__c</customTab>
        <customTab>agf__RCA__c</customTab>
        <customTab>agf__eRelease_Request__c</customTab>
        <customTab>agf__Gus_Settings</customTab>
        <customTab>agf__My_Teams</customTab>
        <customTab>Quick_Links</customTab>
        <customTab>TAV4__Geo_Container__c</customTab>
        <customTab>TAV4__Geo_Unit_Assignment__c</customTab>
        <customTab>TAV4__Alignment_Update__c</customTab>
        <customTab>TAV4__Alignment__c</customTab>
        <customTab>Vendavo</customTab>
        <customTab>dsfs__DocuSign_Status__c</customTab>
        <customTab>dfsle__Envelope__c</customTab>
        <customTab>dsfs__EnvelopeConfiguration__c</customTab>
        <customTab>dfsle__Setup</customTab>
        <customTab>dsfs__DocuSign_Envelope_Recipient__c</customTab>
        <customTab>dsfs__DocuSign_Envelope__c</customTab>
        <customTab>dfsle__EnvelopeStatus__c</customTab>
        <customTab>dsfs__DocuSign_Admin</customTab>
        <customTab>dsfs__DocuSign_Envelope_Document__c</customTab>
        <customTab>seismic__SeismicAdmin</customTab>
        <customTab>iSell__iSell</customTab>
        <customTab>QUOSAL__Quosal_Dashboard</customTab>
        <customTab>iSell__Avention</customTab>
        <customTab>DML__c</customTab>
        <customTab>mkto_si__Marketo</customTab>
        <customTab>Org__c</customTab>
        <customTab>mkto_si__Marketo_Sales_Insight_Config__c</customTab>
        <customTab>DML_Relation__c</customTab>
        <customTab>ElasticaSOC__Elastica_Securlet_Setup</customTab>
        <customTab>Alternate_DML__c</customTab>
        <customTab>SpringCMEos__SpringCM_Viewer</customTab>
        <customTab>SpringCMEos__SpringCM_Setup</customTab>
        <customTab>CRMfusionDBR101__Scenario__c</customTab>
        <customTab>CRMfusionDBR101__DupeBlocker_Settings_VF</customTab>
        <customTab>MindMatrix__AMP</customTab>
        <customTab>CRMfusionDBR101__DupeBlockerToday</customTab>
        <customTab>MindMatrix__Assets</customTab>
        <customTab>CRMfusionDBR101__Duplicate_Warning__c</customTab>
        <customTab>MindMatrix__MM_API_Settings</customTab>
        <customTab>CRMfusionDBR101__DupeBlocker_Today_VF</customTab>
        <customTab>MindMatrix__MM_View_Asset</customTab>
        <customTab>SFGA__GoogleAdWordsSetup</customTab>
        <customTab>et4ae5__Send_Analytics</customTab>
        <customTab>et4ae5__SendDefinition__c</customTab>
        <customTab>CRMfusionDBR101__DupeBlockerSettings</customTab>
        <customTab>Resource_Directory</customTab>
        <customTab>et4ae5__SMSDefinition__c</customTab>
        <customTab>et4ae5__ExactTargetPhoenix</customTab>
        <customTab>p0pFD__Field_Dump</customTab>
        <customTab>Viewpath__Viewpath_Configuration</customTab>
        <customTab>Viewpath__VP_Project__c</customTab>
        <customTab>Vendor__c</customTab>
        <customTab>VendorsList</customTab>
        <customTab>Order_Line_Item_Details__c</customTab>
        <customTab>SGCOM3__SG_SalesgenieProspecting</customTab>
        <customTab>SGCOM3__Salesgenie_Fields_Mapping</customTab>
        <customTab>cloudx_cms__SS_Carousel__c</customTab>
        <customTab>SGCOM3__SG_SalesgenieAdmin</customTab>
        <defaultTab>home</defaultTab>
        <standardTab>Document</standardTab>
        <standardTab>OnlineSalesHome</standardTab>
        <standardTab>ProcessInstanceWorkitem</standardTab>
        <standardTab>WorkBadge</standardTab>
        <standardTab>ContentSearch</standardTab>
        <standardTab>LightningBoltHome</standardTab>
        <standardTab>Recognition</standardTab>
        <standardTab>WaveHome</standardTab>
        <standardTab>SocialPost</standardTab>
        <standardTab>FlowInterview</standardTab>
        <standardTab>ContentSubscriptions</standardTab>
        <standardTab>ProfileSkill</standardTab>
        <standardTab>DataUseLegalBasis</standardTab>
        <standardTab>ListEmail</standardTab>
        <standardTab>WorkBadgeDefinition</standardTab>
        <standardTab>Event</standardTab>
        <standardTab>AuthorizationFormConsent</standardTab>
        <standardTab>Dashboard</standardTab>
        <standardTab>DeleteEvent</standardTab>
        <standardTab>OrgMetric</standardTab>
        <standardTab>Campaign</standardTab>
        <standardTab>EmailTemplate</standardTab>
        <standardTab>Forecasting3</standardTab>
        <standardTab>Opportunity</standardTab>
        <standardTab>AppLauncher</standardTab>
        <standardTab>Answers</standardTab>
        <standardTab>home</standardTab>
        <standardTab>Chatter</standardTab>
        <standardTab>Quote</standardTab>
        <standardTab>Location</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>ContactPointTypeConsent</standardTab>
        <standardTab>OtherUserProfile</standardTab>
        <standardTab>PartnerNetworkConnection</standardTab>
        <standardTab>EnhancedLetterhead</standardTab>
        <standardTab>Idea</standardTab>
        <standardTab>Contract</standardTab>
        <standardTab>Product2</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>AuthorizationFormText</standardTab>
        <standardTab>Lead</standardTab>
        <standardTab>DuplicateRecordSet</standardTab>
        <standardTab>Solution</standardTab>
        <standardTab>AuthorizationFormDataUse</standardTab>
        <standardTab>report</standardTab>
        <standardTab>Task</standardTab>
        <standardTab>DiscoveryForAccounts</standardTab>
        <standardTab>CollaborationGroup</standardTab>
        <standardTab>SocialPersona</standardTab>
        <standardTab>ProfilePlatformFeed</standardTab>
        <standardTab>Feed</standardTab>
        <standardTab>ProfilePlatformOverview</standardTab>
        <standardTab>LightningInstrumentation</standardTab>
        <standardTab>AuthorizationForm</standardTab>
        <standardTab>LocationTrustMeasure</standardTab>
        <standardTab>File</standardTab>
        <standardTab>DataUsePurpose</standardTab>
        <standardTab>UserProfile</standardTab>
        <standardTab>ContentNote</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>Today</standardTab>
        <standardTab>ContentDocumentListViewMapping</standardTab>
        <standardTab>Workspace</standardTab>
    </tabs>
    <urlPathPrefix>gpo</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
