.THIS .nolabel .slds-form-element__label{
    display: none; 
   
}

.THIS .slds-form-element__icon{ 
  display: none;
    
}
.THIS .customIcon div{
    vertical-align: top !important;
}
 
.THIS.customIcon div{
    vertical-align: top !important;
}
.THIS H1 {
   font-weight: bold;
    font-size: 18px;
}

.THIS .slds-form-element__label {
    display: none;
    
}
.THIS .slds-dueling-list__column_responsive {
    min-width: 80%;
}
.THIS .slds-dueling-list__column_responsive .slds-dueling-list__options {
    min-width: 100%;
}
.THIS .tst .slds-select{
    border: 10px solid #000;
}