.THIS .slds-form-element__label{ 
    display: none;
}

.THIS .customIcon div{
    vertical-align: top !important;
}
 
.THIS.customIcon div{
    vertical-align: top !important;
}

.THIS .custom-box {
    text-align: start;
}