.THIS div.sucessAlert {
    color: #FFFFFF;
    font-weight : bold;
    background-color: rgb(75, 202, 129);
    width : 98% ;
    padding : 20px;
    margin : 10px auto 10px auto ;
    border-radius: 5px;
}
.THIS div.errorAlert {
    color: black;
    font-weight : bold;
    background-color:#fdedea;
    width : 98% ;
    padding : 20px;
    margin : 10px auto 10px auto ;
    border-radius: 5px;
    
}
.THIS div.Message {
    color: #FFFFFF;
    font-weight : bold;
    background-color: #808080;
    width : 98% ;
    padding : 20px;
    margin : 10px auto 10px auto ;
    border-radius: 5px;
}

.THIS div.container {
    margin: 0px 20px 0px 40px;
}

.THIS div.expandCollapse{
    cursor : pointer;
    width:10%;
    float:right ;
    margin-top: -5px;
}
.THIS div.show{
    display:block;
}
.THIS div.hide{
    display:none;
}
.THIS .slds-icon{ background-color: white;}