.component-min-height {
    min-height: 200px;
}

.m-auto {
    margin: auto;
}

.datatable-container {
    height: 140px;
}

.summary-container {
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.summary-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}