.od-vr {
	border-left: 1px solid rgb(217, 219, 221);
	min-width: 1px;
	width: 1px;
	max-width: 1px;
	margin: 0 1rem;
}
.od-small-boxshadow-onhover {
	transition: box-shadow 150ms linear;
	box-shadow: none;
}
.od-small-boxshadow-onhover:hover {
	box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}
.od-display-block {
	display: block;
}
.od-display-none {
	display: none;
}
.od-container {
	height: 100vh;
	/* background-image: url(/_slds/images/themes/oneSalesforce/banner-brand-default.png),linear-gradient(to top, rgba(25, 85, 148, 0.5), #1b5f9e);
	background-position: top left;
	background-repeat: repeat;
	background-size: auto; */
}
.od-filter-container {
	transition: width 250ms;
	height: fit-content;
}
.od-filter-visibility-button {
	background: transparent;
	outline: none;
	border: none;
	padding: 0;
	height: fit-content;
}
.od-filter-outer-container {
	height: fit-content;
	display: flex;
}
.od-header {
	white-space: nowrap;
	border-radius: 0;
	border-top: none;
	border-right: none;
	border-left: none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
button {
	white-space: nowrap;
}