.slds-box {
    font-size: medium;
    width: 500px;
    height: 590px;
    padding: 1rem;
    border-radius: 3.25rem;
    border: 1px solid;
    border-color: grey;
}
.slds-box-search {
    font-size: medium;
    width: 500px;
    height: 350px;
    padding: 1rem;
    border-radius: 3.25rem;
    border: 1px solid;
    border-color: grey;
}