.od-vr {
	border-left: 0.5px solid rgb(217, 219, 221);
	border-right: 0.5px solid rgb(217, 219, 221);
	min-width: 1px;
	width: 1px;
	max-width: 1px;
}
.od-more-details-modal > div > div {
	padding: 1rem 0;
	background-color: #f3f3f3;
	border-radius: 0.25rem;
}
.od-more-details-modal > div > div > div {
	display: flex;
	padding: 0 0.5rem;
}
.od-more-details-modal > div > div > div:hover {
	background-color: white;
	box-shadow: 0 0 10px 0 hsl(0, 0%, 90%);
}
.od-more-details-modal > div > div > div > div {
	margin-left: auto;
}
.od-small-boxshadow-onhover {
	transition: box-shadow 150ms linear;
	box-shadow: none;
}
.od-small-boxshadow-onhover:hover {
	box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.od-group-field-container {
	background-color: rgb(243, 242, 242);
}
.od-group-field {
	padding: 1rem;
	min-width: fit-content;
	border: 1px solid rgb(221, 219, 218);
	border-radius: 0.25rem;
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	white-space: nowrap;
}
.od-line-item.has-error {
	border-color: rgb(194, 57, 52);
}
.od-line-item.has-warning {
	border-color: rgb(255, 183, 93);
}