.THIS.collapsed .visibleDiv{
    display : none;
}
.THIS .zoom {
    
}

.THIS .zoom:hover {
     background-color: red;
 

}
.THIS .current {
    color: blue;
  background-color: rgb(226, 255, 244);
}
.THIS .inactive {
    color: blue;
  background-color: white;
}