.THIS .custom-background{
  background-color:  gray;
  height: 100%;
}

@font-face{
    src: url("{!URLFOR($Resource.PRMAvenir, '/Avenir-Black-webfont.woff')}") format('woff');  /* Modern browsers*/
    
}

.THIS .white-background{
  background-color: #cfcfd3;
  height: 100%;
}

.THIS .cfooter {
    color: white;
}

.THIS .redLabel{
    color: #e81010;
    font-size:15px;
    font-weight:bold;
}


.THIS .customlab{
    color: #e25a5a;
}

.THIS .slds-form-element__label {
    color: #423f3f;
    font-size: 15px;
}

.THIS .cfooter {
    color: gray;
    font-size: 13px;
}

.THIS .headl {
    color: white;
    font-size: 2.2vw;
    font-family:Open Sans;
    font-weight:bold;
}

.THIS .tymsg {
    color: black;
    font-size: 2vw;
    font-family:verdana;
    font-weight:bold;
}

.THIS .headfix {
    position: fixed;
}

.THIS .subheadl {
    color: #545459;
    font-size: 2vw;
    font-family:verdana;
    font-weight:bold;
    font-family: 'Open Sans';
}

.THIS .headl2 {
    color: #4a4a4c;
    font-size: 13px;
    font-family: 'Open Sans';
}

.THIS #left {
    width:200px;
    height:200px;
    float:left;
    background:white;
}

.THIS #right {
    width:200px;
    height:200px;
    float:right;
    background:white;
}

.THIS #blue_box {
    position: relative;
    background:blue;
    width:500px;
    height:300px;
    padding:10px;
}
.THIS .divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid white; 
}


.THIS ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #CE0000;
}

.THIS li {
    float: right;
}

.THIS div.cdiv {
    width:600px;
    margin: auto;
    height:400px;
}



.THIS li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/*
.THIS a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.THIS a:hover {
    background-color: #605e5e;
    color: white;
}*/


.THIS li a:hover {
    background-color: #605e5e;
    color: white;
}

	

.THIS .wrapper {
	color: gray;
	margin: auto;
	max-width: 1024px;
	font-family: Helvetica;
}

.THIS .navbar-placeholder {
	height: 75px;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	background-color: gray;
	border-bottom: 1px solid white;
}

.THIS .navbar-logo {
	float: left;
	display: flex;
}

.THIS .email-link {
	text-decoration: none;
	color: white;
	margin-top: 7px;
    margin-right: 25px;
}

.THIS .image-container {
	position: relative;
}

.THIS .banner-image {
	/*max-width: 1024px;*/
    display: flex;
    width: 100vw;
}

.THIS .banner-text {
	position: absolute;
    top: 15px;
    left: 25px;
    letter-spacing: 1px;
    line-height: 35px;
    font-size: 30px;
    color: white;
    font-family: 'Open Sans';
}

.THIS p {
	margin: 0 0 0 0;
}

.THIS br {
	line-height: 35px;
}

.THIS .text-container {
	padding: 40px 0;
	font-size: 15px;
	line-height: 20px;
	display: flex;
	border-bottom: 1px solid gray;
    font-family: 'Open Sans';
}

.THIS .text-container-left {
	min-height: 1px;
	padding: 0 40px 0 30px;
	flex-basis: 100vw;
}

.THIS .text-container-right {
	min-height: 1px;
	padding: 0 30px 0 40px;
	border-left: 1px solid gray;
	flex-basis: 80vw;
}

.THIS .subtitle {
	font-size: 17px;
	margin-bottom: 20px;
}

.THIS .enroll-button {
	padding: 10px 45px;
    border-radius: 5px;
    background: red;
    color: white;
    display: inline-block;
    text-decoration: none;
    font-style: italic;
}

.THIS .button-container {
	text-align: center;
	margin: 33px 0 0 0;
}

.THIS .form-icons-section {
	display: flex;
	padding: 40px 0;
}

.THIS .form-container {
	min-height: 1px;
	padding: 0 40px 0 30px;
    width: 100vw;
}

.THIS .icons-container {
	min-height: 1px;
	padding: 0 30px 0 40px;
    width: 80vw;
    justify-content: center;
    display: flex;
    align-items: center;
}

.THIS .form-placeholder {
    width: 100%;
}

.THIS .icons-placeholder {
    width: 65%;
}