.slds-box {
	min-width: fit-content;
}
table {
	width: unset;
}
table tr td {
	white-space: nowrap;
	border-bottom: 1px solid hsl(0, 0%, 80%);
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
}
table tr td:last-child {
	text-align: right;
}
table tr td:first-child {
	padding-left: 0.5rem;
	padding-right: 1em;
	color: hsl(0, 0%, 50%);
}