.THIS {

}

.THIS input,.THIS textarea, .THIS select, .THIS option{
    color: #273039 !important;
}

.THIS strong.red {
    color: rgb(194, 57, 52);
}

.THIS .slds-form-element__label {
    color: rgb(241, 241, 241);
}

.THIS fieldset {
    margin-bottom: 1em !important;
}
.THIS .slds-card {
    background-color: #273039;
    color: #c8cacc;
    padding: 1em !important;
    padding-bottom: 0px;
}
.THIS .slds-card.main {
    background-color: #273039;
    color: #c8cacc;
    padding: 1em !important;
    padding-bottom: 0px;
    height: auto;
    border: none;
}
.THIS .slds-card .storepill {
    background-color: #273039;
    color: #273039;
}

.THIS div.top{
    margin-top: 75px;
}

.THIS div.myHeader{
margin-bottom: 20px;
font-weight:900;
font-size: 18pt;

}