.slds-box {
    font-size: medium;
    width: 500px;
    height : 400px;
    padding: 1rem;
    border-radius: 3.25rem;
    border: 1px solid;
    border-color: grey;
}

.slds-box.em  {
    color: maroon;
    font-size: medium;
    width: 900px;
    height : 70px;
    border: 1px solid;
    border-color:maroon;
}

.slds-box.sm  {
    color: blue;
    font-size: medium;
    width: 900px;
    height : 100px;
    border: 1px solid;
    border-color: green;
}