/*.THIS .uiInputText {
 	padding: 8px;
 	margin-left: 20px;
 	margin-top: 20px;
 	border-radius: 4px;
 }*/
.THIS.c-container {
    border: 2px solid #d8dde6;
    margin: 15px 0 25px 0;
}
.THIS .header-column {
    padding: 0 10rem;
}
.THIS .field-title {
    font-size: .150rem;
    line-height: 3.50;
    color: #54698d;
    margin-bottom: .90rem;
}