@font-face {
    font-family: 'OpenSans-Semibold';
    src:  url(/odPartner/resource/OpenSansFont/open-sans/OpenSans-Semibold.ttf);    
}
.THIS .OpenSans-Semibold {
    font-family:OpenSans-Semibold;
}
@font-face {
    font-family: 'OpenSans';
    src:  url(/odPartner/resource/OpenSansFont/open-sans/OpenSans-Regular.ttf);    
}
.THIS .OpenSans {
    font-family:OpenSans;
}
@font-face {
    font-family: 'OpenSans-light';
    src:  url(/odPartner/resource/OpenSansFont/open-sans/OpenSans-Light.ttf);    
}
.THIS .OpenSans-light {
    font-family:OpenSans-light;
}
@font-face {
    font-family: 'OpenSans-bold';
    src:  url(/odPartner/resource/OpenSansFont/open-sans/OpenSans-Bold.ttf);    
}
.THIS .OpenSans-bold {
    font-family:OpenSans-bold;
}
.THIS .red-background{
    background: #B30000;
}
	
.THIS .box .slds-grid{
    background: #F1F3F4;
}
/* Added by Aravind header css */
.THIS .padd12Bottom {
    padding-bottom: 12px;
}
.THIS .padd12Top {
    padding-top: 12px;
}
.THIS .FixedTemplate, .THIS .StickyHeader, .THIS .cGlobalAnchor  {
    Width: 100%;
    margin: 0 auto; 
    position: sticky;
    position:fixed;
    top:0px;
    z-index:9;
}
.THIS .padd12Bottom {
    padding-bottom: 12px;
}
.THIS .padd12Top {
    padding-top: 12px;
}
.THIS .toggleDropdownDiv{
    display:none;
}
.THIS .navLi{
    display: inline-block;
    position: unset;
    padding-left: 13px;
    padding-right: 20px;
    text-decoration:none;line-height: 40px;
}
.THIS .navLi a{
    color:#273039;
    font-family:'OpenSans-Semibold';
    font-size:12px;
    text-decoration:none;
}
.THIS .partnerLogin a{
    color:rgb(0, 109, 204);
}
.THIS .navLi1 a.regularFont.here:hover{
    border:2px solid red;
    padding-bottom:10px;
    
}
.THIS .navLi1 {
    color:#1E5A99;
    font-family:'OpenSans-Semibold';
    font-size:12px;   
}
.THIS .LogoDiv{
    /*text-align:center; 
    padding-left: 205px;*/
	text-align: right;
    padding-right: 120px;
    padding-top: 5px; 
       
}
.THIS .bgsldsheader{
    background-color: #9e9d9c; 
    background-color:rgba(255, 255, 255, 0.95);   
}
.THIS  .LogoDiv img {
    position: Absolute;/*height:94px;*/
}
.THIS .TabsDiv.padd5Top.LargeNavBar {
    padding-top: 8px;
    padding-bottom: 8px;  
}
.THIS .slds-col.slds-text-align_right.userBox.clickable{
    height: 58px;
    line-height: 58px;
    text-align: left;
}
.THIS .clickable{
    display:none;   
}
.THIS .UnderClass
{
    border-bottom:4px solid #B30000;
    padding-bottom:15px;
}
/*  Added by Aravind Header Tab Css Ends here */
/*  Added by aravind Contact Tab Css Starts here */
.THIS .Rp2_text{
    color:#B30000;
    font-size:18px;
    padding-top:94px; 
    font-weight: bold;
}
.THIS .Bp2_text{
    color:#273039 ;
    font-size:18px; 
    padding-top:23px; 
}
.THIS .Bp1_text{
    color:#273039 ;
    font-size:12px; 
    padding-bottom:83px;     
}
.THIS .RP1_text{
    color:#B30000 ;
    font-size:18px;
    padding-bottom:24px;
    padding-top:7px;    
}
.THIS .RP1_text span{
    border-bottom: 2px solid #B30000;
    padding-top: 8px;
    width: 4%;
    display: block;
    margin: 0px auto;
}
.THIS .Con_Logo{
    text-align:center;
    padding-top:38px;
}
/*  Added by aravind Contact Tab Css Ends here */

/*  Added by aravind Contact Tab Css Starts here */
.THIS .Rp2_text{
    color:#B30000;
    font-size:18px;
    padding-top: 60px;
    font-weight: bold;
}
.THIS .Bp2_text{
    color:#273039 ;
    font-size:18px; 
    padding-top:23px;  
}
.THIS .Bp1_text{
    color:#273039 ;
    font-size:12px; 
    padding-bottom:83px; width: 85%;
    margin: 0px auto;    
}
.THIS .RP1_text{
    color:#B30000 ;
    font-size:12px;
    padding-bottom:23px;
    padding-top:7px;    
}
.THIS .RP1_text span{
    border-bottom: 2px solid #B30000;
    padding-top: 8px;
    width: 3%;
    display: block;
    margin: 0px auto;
}
.THIS .Con_Logo{
    text-align:center;
    padding-top:38px;
}
/*  Added by aravind Contact Tab Css Ends here */

/*  Added by aravind Events Tab Css Starts here */
.THIS .graybg{
    background-color:#273039; 
    text-align:center;
    margin:0px 14px 0px 10px;
    color: white;
    padding: 1px 0 0px 0; width:75px;  /*width: 30%;*/ 
}
@media (max-width: 1024px) {
    .THIS .graybg{
        margin:0 9px 0 10px;width: 83px;
    }
    .THIS .odbox_heading_2{
        padding-top: 35px;
        width:80%;
        margin: 0px auto;
        line-height: 55px;
        padding-bottom: 17px;
    }
    .THIS .box.odbox.eventbox .odbox_heading_2{
        width: 70%;
    }
   .THIS .eventName a, .THIS .eventWeekMonth{
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word;
    }  
}

.THIS .eventName a{
    color:#B30000;
    font-size:20px;    padding-top: 7px;
} 


.THIS .eventDay{        
    font-size: 48px;
    line-height: 55px;
}
.THIS .eventDateFormat{        
    font-size:12px;
}
.THIS .eventWeekMonth{        
    font-size:12px;padding-top: 7px;
}
.THIS .eventMonth{
    font-size:12px; 
    padding-top:10px;
    
}
.THIS
{
    /* width: 1024px;
    margin: 0px auto;
    background: #F1F3F4;
    padding-top: 24px;
    padding-bottom: 24px;*/
}
.THIS .box .slds-grid{
    width: 81%;
    margin: 0px auto;
}
@media (min-width: 1024px) {
    .THIS .partner_logo_3{
        padding-left: 18%;
    }
    .THIS .partner_logo_4{
        padding-right: 12%;
    }
    .THIS .event_container {
        width: 100%;margin: 0px auto;
    }
    .THIS .registerClass #RegisterDiv{
        cursor:pointer;
        background-image: url('/resource/PRM_Microsite_Images/Get_started_Button.png') ;
        height: 40px;
        width: 97px;
         display:none;
    }
    .THIS .registerClass #RegisterDiv:hover{
        background-image: url('/resource/PRM_Microsite_Images/Hover_Get_started_Button.png') ;
        
    }
    .THIS .registerClass{
        float:left;padding-left:14px;
    }
    .THIS  #mainNavigation{
        float:left;    
        /*padding-left: 50px;*/
        padding-left: 90px;
    }
    
    
}
.THIS .eventbox{
    width: 100%;
    margin: 0px auto;   
}
.THIS .eventbox .event-wrap{
    padding: 15px 0px 15px;       
}
/*
.THIS .event_meet_up{
color:#B30000;
font-size:18px;
padding-top: 94px;
}
.THIS .event_meet_up1{
color:#273039 ;
font-size:60px;
padding-top: 25px;  
}
.THIS .event_meet_up2{
color:#273039 ;
font-size:12px;
padding-top: 2px;    
}
.THIS .event_meet_up3{
color:#273039 ;
font-size:18px;
padding-top: 18px;
padding-bottom:43px;
}
.THIS .event_meet_up3 span{
border-bottom: 2px solid #B30000;
padding-top: 11px;
width: 3%;
display: block;
margin: 0px auto;
}*/
.THIS .toptoscroll{
    bottom: 0px;
    right: 50px;
    position: fixed;   
}


/* media css for header */
.THIS .hideOnlargerscreen{
    display:none;
}
@media (max-width: 1023px) {
    .THIS  .partner_logo img{
        width: 111px;
        height: 32px;
        
    }
    .THIS  .partner_logo_1 img{
        width: 125px;
        height: 32px;
        
    }
    .THIS  .partner_logo_2 img{
        width: 120px;
        height: 120px;
        
    }
    .THIS  .partner_logo_3 img{
        width: 82px;
        height: 83px;
        
    }
    .THIS  .partner_logo_4 img{
        width: 92px;
        height: 52px;
        
    }
    .THIS .odbox_detail div {
        
        padding-bottom: 29px;
    }
    .THIS .odbox{
        width: 100% !important; padding-top: 65px;
    }
    
    .THIS .odbox_heading_4 span, .THIS .RP1_text span{
        width: 12%;
    }
    .THIS .odbox_heading_4{
        padding-bottom: 30px;
    }
    
    .THIS .box .slds-grid{
        width: 95%!important;
    }
    .THIS .LargeNavBar{
        position: absolute;
        right: 0px;    padding-top: 51px; padding-bottom: 200px!important;
        top: 0px;text-align:right;background:#B30000;
    }
    .THIS .navLi{
        display: block;padding-top: 0px;
        padding-bottom: 11px;   padding-left: 5px;
        padding-right: 10px;
    }
    .THIS .navLi a{
        color: white;
        font-size: 12px;
    }
    .THIS .navLi.partnerLogin{
        border-top: 1px solid #273039;
        padding-top: 10px;
    }
    .THIS .navLi.partnerLogin img {
        padding-right: 4px;
        padding-bottom: 2px;
    }
    .THIS .partnerLogin a{
        color: white;
    }
    .THIS .hideOnlargerscreen{
        display:block;
    }
    .THIS .bar2{
        display:none;
    }
    .THIS .bar1, .THIS .bar2, .THIS .bar3 {
        width: 60px;
        height: 6px;
        background-color: #1E5A99;
        margin: 6px 0;
        transition: 0.4s;    margin-bottom: 14px;
    }
    
    .THIS .LogoDiv{
        text-align:left;
        
    }
    .THIS .change .bar1, .THIS .change .bar2, .THIS .change .bar3 {
        background-color: white; width:34px;  margin-bottom: 0px;height: 3px;
        
    }
    .THIS .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 4px);
        transform: rotate(-45deg) translate(-5px, 4px);
    }
    
    .THIS .change .bar2 {opacity: 0; display:block;}
    
    .THIS .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .THIS .ham_menu_box {
        line-height: 56px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    .THIS .ham_menu_register{
        float: left;
        font-size: 14px;color: rgb(0, 109, 204);   
    }
    .THIS .ham_menu {
        float: right; padding-right: 11px;
        
    }
    .THIS  .cross_bars{
        float: right;   
        padding-right: 24px;
        padding-bottom: 14px; padding-top: 10px;/*padding-top: 20px;*/
    }
    .THIS .navLi.UnderClassLi{
        background: #273039;font-size: 14px;
    }
    .THIS .navLi.UnderClassLi .UnderClass{
        border:none; 	
    }
    .THIS .LogoDiv img {
        /*
        height: 100px;*/}
    .THIS .registerClass #RegisterDiv{
        background-image: url('/resource/PRM_Microsite_Images/Mobile_Get_started_button.png');
        height: 45px;
        width: 110px;
        margin: 0 auto;
        background-repeat: no-repeat;
       
    }
    .THIS  .registerClass{
        padding-bottom: 100%;
    }
    .THIS .partner_indus{
        width:100%;
        
    }
    .THIS .LogoDiv {
        padding-left: 0px; 
    }
    
}
/* changes in whole  */
/* common classess by Aravind  */   
.THIS .odbox{
    width: 70%;
    margin: 0px auto;
    text-align: center;    padding-top: 100px;    padding-bottom: 33px;
}
.THIS #partners{
    background: white;
}
@media (max-width: 1023px) {
    .THIS .ham_menu_register{
        padding-left: 6%;
    }
}
@media (max-width: 476px) {
    .THIS .ham_menu_register{
        padding-left: 50%;
    }
}

/* Added by aravind Events Tab CSS Ends here */


/*  Added by aravind Events Partner Css Starts here */
.THIS .odbox_heading_1{
    color:#B30000;
    font-size:18px;
    /*padding-top: 94px;*/
}
.THIS .odbox_heading_2{
    color: #273039;
    font-size: 55px;
    padding-top: 20px;	
}
.THIS .odbox_heading_3{
    color: #61676F; 
    font-size: 12px; 
    font-weight: bold; 
    font-family: 'OpenSans-Bold'; 
    line-height: 25px; 
    margin-bottom: 20px; 
    max-width: 801px; 
    margin: 0 auto 20px; 
    text-align: center;
}
.THIS .eventbox .odbox_heading_3{
    width: 62%;
}
.THIS .odbox_heading_4{
    color:#273039 ;
    font-size:18px;
    padding-top: 18px;
    padding-bottom:60px;
}
.THIS .odbox_heading_4 span{
    border-bottom: 2px solid #B30000;
    padding-top: 11px;
    width: 3%;
    display: block;
    margin: 0px auto;
}

.THIS .box .odbox_detail.slds-grid {
    width: 95% !important;
    margin: 0 auto;background:none !important;
}

.THIS .odbox_detail div{
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 70px;
}
.THIS .odbox_detail div img{
    
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}
.THIS .box.odbox.eventbox{
    padding-bottom: 0px;
}
.THIS .box.odbox.eventbox .odbox_heading_4{
    padding-bottom: 32px;
}
.THIS .Partner_Logo{
    text-align:center;
    padding-top:68px;
}

/*  Added by aravind partner Css Ends here */
.THIS .topNavBarFont {
    font-family: OpenSans-Semibold;
    font-size: 14px;
    color: #273039;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}

/* media css for header starts here*/
.THIS .hideOnlargerscreen{
    display:none;
}
@media (max-width: 1023px) {
    .THIS .LargeNavBar{
        position: absolute;
        right: 0px;    padding-top: 51px;
        top: 0px;text-align:right;background:#B30000;
    }
    .THIS .navLi{
          display: block;padding-top: 0px;
    padding-bottom: 11px;   padding-left: 5px;
    padding-right: 10px;
    }
    .THIS .navLi a{
        color: white;
        font-size: 12px;
    }
    .THIS .navLi.partnerLogin{
        border-top: 1px solid black;
        margin-top: 13px;
    }
    .THIS .partnerLogin a{
        color: white;
    }
    .THIS .hideOnlargerscreen{
        display:block;
    }
    .THIS .bar1, .THIS .bar2, .THIS .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    .THIS .LogoDiv{
        text-align:left;   
    }   
}


/* faraz code*/
.THIS {
    
}



.THIS .image{
    background: #B90000;
}
.THIS img{
    vertical-align: bottom;
}
.THIS .paddingDiv{
    margin-bottom: 100px;
}

.THIS .benefits-block-single p{
    width: calc(100% - 65px);
    max-width: 250px;
}


@media(max-width: 767px){
    .THIS .Mobiledesk {
        display:none;
    }
    .THIS .MobileImg img{
        width:100%;
        display:block;
        
    }
    
    .THIS .Mobilebkg{
        
        display:none;
    }
}
@media (min-width: 767px){
    .THIS .MobileImg{
        display:none;
    }
    .THIS .Mobilebkg{
        
        background-color:#B90000;
        height: 200px;
    }
    
}
.THIS h5 {
    color: #B90000;
    font-size: 18px;
    font-family: 'OpenSans-Semibold';
    text-align: center;
    margin-bottom: 50px;
}
.THIS h1 {
    color: #2C323C;
    font-family: 'OpenSans-Light';
    font-size: 61px;
    margin: 0 0 35px;
    
    text-align: center;
}
.THIS h2 {
    font-family: 'OpenSans-Light';
    color: #484e57;
    font-size: 61px;
    margin: 0 0 3px;
}
.THIS .become-partner-link {
    background: #324D99;
    color: #fff;
    padding: 15px 19px 15px;
    display: block;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'OpenSans-Bold';
    margin: 0 0 28px;
}
.THIS .join-us-button {
    color: #324D99;
    margin: 0 0 10px;
    text-transform: capitalize;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'OpenSans-Bold';
    padding: 15px 19px 15px;
    display: inline-block;
}
.THIS .learn-more-link {
    text-decoration: underline;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'OpenSans-Bold';
}

.THIS .tagline {
    position: relative;
    color: #5c6169;
    font-size: 18px;
    padding-bottom: 18px;
    margin-bottom: 50px;
}
@media (max-width: 767px) {
    
   .THIS .join-us-left p {
    max-width: inherit;
    margin-right: 0;
    font-size: 22px;
    line-height: 30px;
    float: left;
    margin-bottom: 80px;
    PADDING-BOTTOM: 30PX;
  }
  .THIS .join-us-left-buttons {
    width: 180px;
    float: none;
    text-align: center;
    margin: auto;
    padding-top: 30px;
  } 
    
   .THIS .join-us-left-buttonsnew{
        width: 180px;
    float: right;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-right: 10px;
  } 
    
    
    
    .THIS .banner-description {
        top: 22%;
        right: 0;
        padding: 0 30px;
    }
}
.THIS .partnerLogin a{
    line-height:25px;
}




/*faraz code*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  .THIS  .join-us-left {
    padding: 40px 30px 40px 0;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 0px;
}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  .THIS .partner-with-us-section {

    width: 777px;    
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
	}
}


.THIS {
    
}
.THIS .image{
    background: #B90000;
}
.THIS img{
    vertical-align: bottom;
}
.THIS .paddingDiv{
    margin-bottom: 100px;
}

.THIS .benefits-block-single p{
    width: calc(100% - 65px);
    max-width: 250px;
}
.THIS .benefits-blocks {
    padding: 0;
}
.THIS .join-us-left1 {
    background: #B90000;
    padding: 40px 30px 40px 0px;
}
.THIS .process-inner-content{
    padding:0 10px;
}
.THIS .process-left h5,.THIS .process-left h1 {
    padding:0;
    text-align: left;
    line-height: 0.96;
}


.THIS .join-process-left {
	padding:4px 10px;
}
.THIS .join-process-left p {
    margin: 25px 0 0 5px;
}
.THIS .process-right img {
    height:100%;
}
.THIS .banner-description p {
	font-size:20px;
}
.THIS .process-inner-body{
    float:right;
    width:100%;
        max-width:600px;
}

@media(max-width: 767px){
    .THIS .get-started-button {
    background: #324D99;
    color: #fff;
    padding: 14px 21px 12px;
    display: block;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'OpenSans-Bold';
    width: 100%;
    text-align: center;
    float: right;
    margin-top: 20px;
        
}
    .THIS .image img{
        width: 100%;
    }
    .THIS .banner-description {
    top: 100px;
    right: 0;
    padding: 0 30px;
}
.THIS h2 {
    color: #000;
    margin: 0 0 30px;
        font-size:50px;
}
    
}
@media(max-width: 2560px){
    .THIS .join-us-left p{
        float:right;
        margin: 0 49px 0 0;
    }
}


@media(max-width: 1024px){
   
    .THIS .join-us-left p{
        margin: 0 auto 0 -28%;
    }
     .THIS .banner-description {
    top: 100px;
    right: 0;
    padding: 0 30px;
}
}
@media(max-width: 1023px){
   
    .THIS .join-us-left p{
        margin: 0 auto 0 10px;
    }
}

.THIS .get-started-button:hover {
    background: #1C2C56 !important;
    
    color: #fff;
    text-decoration: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  .THIS .reg-page {
    
  background-color:rgb(255,255,255);
}
}


.THIS .benefits-block-single:hover {
    
    cursor: pointer;
     border-top: 2px solid red;
}