.od-title {
	font-weight: 700;
}
.od-links-container {
	max-height: 200px;
}
.od-spinner-container {
	height: 200px;
}
.slds-card__header {
	padding: 0.75rem 1rem 0 !important;
	margin: 0 0 0.75rem !important;
}
.slds-card {
	border: 1px solid rgb(221, 219, 218) !important;
}
.od-width-fit {
	width: fit-content;
}
.od-section {
	margin-bottom: 0.5rem;
}
.od-section:last-child {
	margin-bottom: 0;
}
.slds-card__body_inner {
	padding: 0 1rem !important;
}