.THIS H1 {
    color: red;
   font-weight: bold;
}

.THIS H2 {
    color: black;
   font-weight: bold;
   text-decoration:underline;
 font-size: 20px;
  
}
.THIS H3 {
      border: 2px solid black;
margin: auto;
      font-weight: bold;
    max-width:50%;
    white-space: nowrap;  
}
.THIS H4 {
    color: black;
   font-weight: bold;
}
.THIS H5 {
    color: blue;
   font-weight: bold;
   text-decoration:underline;
 font-size: 20px;
}
.THIS H6 {
    color: grey;
   font-weight: italic;
}
.THIS .myCheckbox{
   display: block;
    float: left;
}
.THIS H7 {
  width:30%;
}
.THIS H8 {
    color: blue;
   font-weight: bold;
 font-size: 20px;
}
.THIS H9 {
    color: blue;
   font-weight: italic;
    font-size: 20px;
}
.THIS .slds-form-element_control  {
  display: inline-flex;
}
.THIS .error-text {
    display:none;
}

.THIS .show {
    display:flex;
    color:red;
}
.THIS .myclass{
    display: inline-flex;
    float: left;
    width:25%;
    columns: 4 8em;
}
.THIS .slds-form-element__control {

}
.THIS .underline {
    color: black;
      text-decoration:underline;
 font-size: 10 px;
  
}
.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
   
}

.THIS p.bold{
    font-weight: bold;
}
.THIS p.paragraph{
    margin-top: 1em;
    margin-bottom: 1em;
}