.od-sections-container {
	max-height: 300px;
}
.od-spinner-container {
	height: 300px;
}
.od-title {
	font-weight: 700;
}
.od-width-fit {
	width: fit-content;
}
.od-section {
	margin-bottom: 0.5rem;
}
.od-section:last-child {
	margin-bottom: 0;
}